doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/css.css")
        link(rel="stylesheet", href="./css/normalize.css")
        title Project
    body
        include ./modules/header.pug
        hr
        main
            section.main-banner.wrap
                .main-banner__img-container
                    img(src="./img/IMAGE.png", alt="")
                .main-banner__content
                    span.main-banner__content-text Illustration
                    h1.main-banner__content-title Japan House opens in mountainside to foster peak creativity.
                    .main-banner__content-desc Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
                    button.main-banner__content-btn BY Reta Torphy
            section.main-content.wrap
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
                .main-content__contents-block
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-text Photography
                    h1.main-content__contents-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    button.main-content__contents-btn BY Alessandra Ortiz
            hr.wrap
            section.main-content.wrap

                .main-content__contents-block-smaller
                    img(src="./img/eda.png", alt="").main-content__contents-img
                    span.main-content__contents-smaller-text Illustration
                    h1.main-content__contents-smaller-title Japan House opens in mountainside to foster peak creativity.
                    button.main-content__contents-smaller-btn BY Reta Torphy
        include ./modules/footer.pug